.projects ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.projects li {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
    margin: 1rem;
    padding: 1rem;
}

.projects li h2 {
    color: #ff0062;
    margin: 0.5rem 0;
}

#finished-projects li h2 {
    color: #0044ff;
}

.projects li h3 {
    color: #575757;
    font-size: 1rem;
}

.projects li p {
    margin: 0;
}

.droppable {
    background: #ffe3ee;
}

#finished-projects .droppable {
    background:  #d6e1ff;
}

#user-input {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ff0062;
    background: #f7f7f7;
}